tablebase.dtd

<!ELEMENT tablebase (move-restriction*, index?, format?, piece+, futurebase*, prune*, generated-by?, generation-info?, statistics?)>
<!ELEMENT move-restriction EMPTY>
<!ELEMENT piece EMPTY>
<!ELEMENT futurebase EMPTY>
<!ELEMENT prune EMPTY>

<!ELEMENT index EMPTY>
<!ATTLIST index
	type (naive|naive2|simple|xor|compact)		#REQUIRED
	symmetry (1|2|4|8|8-way)			#IMPLIED
	modulus CDATA				#IMPLIED>

<!ELEMENT format (dtm)>
<!ELEMENT dtm EMPTY>
<!ATTLIST dtm
	bits (8)				#REQUIRED>

<!ELEMENT generated-by (program, args, time, user-time, system-time, real-time, host)>
<!ELEMENT generation-info (program, args, completion-time, user-time, system-time, real-time, page-faults, page-reclaims, host)>
<!ELEMENT program (#PCDATA)>
<!ELEMENT args (#PCDATA)>
<!ELEMENT time (#PCDATA)>
<!ELEMENT completion-time (#PCDATA)>
<!ELEMENT user-time (#PCDATA)>
<!ELEMENT system-time (#PCDATA)>
<!ELEMENT real-time (#PCDATA)>
<!ELEMENT page-faults (#PCDATA)>
<!ELEMENT page-reclaims (#PCDATA)>
<!ELEMENT host (#PCDATA)>

<!ELEMENT statistics (indices, legal-positions, forward-moves, futuremoves, backproped-moves)>
<!ELEMENT indices (#PCDATA)>
<!ELEMENT legal-positions (#PCDATA)>
<!ELEMENT forward-moves (#PCDATA)>
<!ELEMENT futuremoves (#PCDATA)>
<!ELEMENT backproped-moves (#PCDATA)>

<!ATTLIST tablebase
	offset	CDATA		#IMPLIED
	format	(fourbyte|one-byte-dtm)	#IMPLIED
	modulus CDATA		#IMPLIED
	index	(naive|naive2|simple|xor)	#IMPLIED>

<!ATTLIST piece
	color	(white|black)	#REQUIRED
	type	(king|queen|rook|bishop|knight|pawn)	#REQUIRED
	location CDATA		#IMPLIED>
<!ATTLIST futurebase
	filename CDATA		#REQUIRED
	type	(normal|capture|promotion|promotion-capture)	#REQUIRED
	colors	(invert)	#IMPLIED>
<!ATTLIST prune
	color	(white|black)	#REQUIRED
	move	CDATA		#REQUIRED
	type	(concede|discard)	#REQUIRED>

<!ATTLIST move-restriction
	color	(white|black)	#REQUIRED
	type	(concede|discard)	#REQUIRED>

<!ATTLIST generating-program
	name	CDATA		#REQUIRED
	version	CDATA		#REQUIRED>
<!ATTLIST generating-time
	time	CDATA		#REQUIRED>
<!ATTLIST generating-host
	fqdn	CDATA		#REQUIRED>
