tablebase.dtd

<!ELEMENT tablebase (move-restriction*, piece+, futurebase*, prune*, generated-by?)>
<!ELEMENT move-restriction EMPTY>
<!ELEMENT piece EMPTY>
<!ELEMENT futurebase EMPTY>
<!ELEMENT prune EMPTY>

<!ELEMENT generated-by (program, time, host)>
<!ELEMENT program EMPTY>
<!ELEMENT time EMPTY>
<!ELEMENT host EMPTY>

<!ATTLIST tablebase
	offset	CDATA		#IMPLIED
	format	(fourbyte)	#IMPLIED
	index	(naive|simple)	#IMPLIED>

<!ATTLIST piece
	color	(white|black)	#REQUIRED
	type	(king|queen|rook|bishop|knight|pawn)	#REQUIRED
	location CDATA		#IMPLIED>
<!ATTLIST futurebase
	filename CDATA		#REQUIRED
	type	(normal|capture|promotion|promotion-capture)	#REQUIRED
	colors	(invert)	#IMPLIED>
<!ATTLIST prune
	color	(white|black)	#REQUIRED
	move	CDATA		#REQUIRED
	type	(concede|discard)	#REQUIRED>

<!ATTLIST move-restriction
	color	(white|black)	#REQUIRED
	type	(concede|discard)	#REQUIRED>

<!ATTLIST generating-program
	name	CDATA		#REQUIRED
	version	CDATA		#REQUIRED>
<!ATTLIST generating-time
	time	CDATA		#REQUIRED>
<!ATTLIST generating-host
	fqdn	CDATA		#REQUIRED>
